<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.file.dao.IUserDao">
	<!-- 先定义一个Interface，UserMapper，然后Mapper文件的namespace指向的就是这个Interface， UserInterface里定义的方法和UserMapper.xml文件中的一样, 
		然后代码里直接使用接口 -->
	<resultMap id="BaseResultMap" type="com.study.file.entry.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pwd" property="pwd" jdbcType="VARCHAR"/>
		<result column="image" property="image" jdbcType="VARCHAR"/>
	</resultMap>
	
    <!--可以定义多个sql  -->
	<sql id="Base_Column_List">
		id, name, pwd,image
	</sql>

	


	<insert id="addUser" parameterType="com.study.file.entry.User">
	    insert into user (id, name, pwd,image) values (#{id} ,#{name} ,#{pwd} ,#{image} )
	</insert>
	

	

	
</mapper>